<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:mp.le.com</string>
		<string>webcredentials:mp.le.com</string>
		<string>applinks:mp-cdn.le.com</string>
		<string>webcredentials:mp-cdn.le.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.letv.iphone.client</string>
		<string>group.com.letv.bee.iphone.client</string>
	</array>
</dict>
</plist>
